@model PagedList.IPagedList<Model.EF.tbl_TaiKhoan>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Quan ly User";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@section header{
    Danh sach User
}
@section scripts {
    <script src="~/Assets/Admin/js/controller/userControllerJS.js"></script>
}
@using (Html.BeginForm("Index", "User", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td><input type="text" class="form-control bg-light  small" name="SearchUser" value="@ViewBag.SearchUserString" /></td>
                    <td><button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button></td>
                    <td><a href="~/Admin/User/Create" class="btn btn-primary">Thêm mới</a></td>
                </tr>
            </table>

        </div>
    </div>
    <br />
}

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tài khoản</th>
                    <th scope="col">Tên</th>
                    <th scope="col">Email</th>
                    <th scope="col">SĐT</th>
                    <th scope="col">Loại tài khoản</th>

                    <th scope="col">Trạng thái</th>
                    <th scope="col">Thao tác</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="row_@item.ID">
                        <td>
                        </td>
                        <td>@item.sTenTaiKhoan</td>
                        <td>@item.sHoTen</td>
                        <td>@item.sEmail</td>
                        <td>@item.sSDT</td>
                        <td>@item.sQuyen</td>
                        <td><a href="#" class="btnActive" data-id="@item.ID">@(item.bStatus?"Kích hoạt":"Khóa")</a></td>
                        <td>
                            <a href="/Admin/User/Edit/@item.ID">
                                <i class="fas fa-edit"></i>
                            </a>
                            &nbsp &nbsp &nbsp

                            @Ajax.ActionLink(" ", "Delete", new { id = item.ID }, new AjaxOptions
                       {
                           Confirm = "Bạn muốn xóa ?",
                           OnComplete = "$('#row_" + @item.ID + "').remove()",
                           HttpMethod = "Delete"
                       }, new { @class = "fas fa-trash-alt" })

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchUser = @ViewBag.SearchUserString }))
        
        
    </div>
</div>
