@model MyHandsDoAnTotNghiep.Models.LoginModel

@{
    ViewBag.Title = "Đăng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="height:20px"></div>
<div class="container single_product_container">
    @using (Html.BeginForm("Login", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Đăng nhập</h2>
        <hr />

        <div class="form-group">
            @Html.LabelFor(model => model.sTenTaiKhoanLogin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.sTenTaiKhoanLogin,  new { @class = "form-control" } )
                @Html.ValidationMessageFor(model => model.sTenTaiKhoanLogin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sMatKhauLogin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.sMatKhauLogin, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sMatKhauLogin, "", new { @class = "text-danger" })
            </div>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đăng nhập" class="btn btn-primary btn-user btn-block" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a href="/User/LoginFacebook" class="btn btn-facebook btn-user btn-block">
                    <i class="fab fa-facebook-f fa-fw"></i> Đăng nhập bằng Facebook
                </a>
                
            </div>
        </div>
    </div>
    }
</div>
