@model MyHandsDoAnTotNghiep.Models.ChangePasswordModel

@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="wrapper">
    @RenderPage("NavbarPersonal.cshtml")

    <div class="col-md-8">
        <div style="margin-top:190px;padding-left:170px">
            <div class="container-fluid">
                @if (TempData["AlertMessage"] != null)
                {
                    <div id="AlertBox" class="alert @TempData["AlertType"] hide">@TempData["AlertMessage"]</div>
                }
                <!-- Main Content -->
                @using (Html.BeginForm("ChangePassword", "Personal", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.sOldPassword, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.sOldPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.sOldPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.sNewPassword, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.sNewPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.sNewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.sNewPasswordRe, htmlAttributes: new { @class = "control-label col-md-5" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.sNewPasswordRe, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.sNewPasswordRe, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <br />
                    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Đổi mật khẩu" />

                }
            </div>
        </div>
    </div>
</div>