@model IEnumerable<Model.EF.tbl_HoaDon>

@{
    ViewBag.Title = "HoaDonIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter {
    <script src="~/Assets/Client/js/controller/CacelOrderJS.js"></script>
    <script>
        function Details(id)
           {
               $.get("@Url.Action("OrderDetails", "Personal")/"+id,
               function(data) {$('.modal-body').html(data);})
                $("#myModal").modal("show");
           }
        $('#myModal').on('hidden.bs.modal', function (e) {
            $('.modal-body').html("");
        });
    </script>
}

<div id="wrapper">
    @RenderPage("NavbarPersonal.cshtml")
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content" style="margin-top:180px">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <table class="table">
                            <tr>
                                <th>
                                    Ngày tạo
                                </th>
                                <th>
                                    Khách hàng
                                </th>
                                <th>
                                    Số điện thoại
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Ghi chú
                                </th>
                                <th>
                                    Trạng thái
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @(item.dNgayTao.HasValue? item.dNgayTao.Value.ToString("dd/MM/yyyy"):"")
                                    </td>

                                    <td>
                                        @item.sTenNguoiNhan
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.sSDTnguoiNhan)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.sEmailNguoiNhan)
                                    </td>
                                    <td>
                                        @if (item.sFormOfPayment != "" && item.iStatus == 1)
                                        {
                                            @item.sFormOfPayment 
                                            <p>đã thanh toán</p>
                                        }
                                        else
                                        {
                                            <p>COD</p>
                                        }
                                    </td>
                                    <td>
                                        @if (item.iMaTrangThai == 1)
                                        {
                                            <p>Chờ xử lý</p>
                                            <a href="#" class="btnActive" data-id="@item.ID">@(item.iMaTrangThai==1?"Hủy đơn":"")</a>
                                        }
                                        else if (item.iMaTrangThai == 2)
                                        {
                                            <p>Đang vận chuyển</p>
                                        }
                                        else if (item.iMaTrangThai == 3)
                                        {
                                            <p>Đã giao</p>
                                        }
                                        else if (item.iMaTrangThai == 4)
                                        {
                                            <p>Đã hủy</p>
                                        }
                                        else
                                        {
                                            <p>Trả hàng</p>
                                        }

                                    </td>
                                    <td>
                                        <a id="@item.ID" onclick="Details(this.id)">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                    </td>

                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>

    </div>
</div>