@model PagedList.IPagedList<Model.EF.tbl_BaiViet>
@using PagedList.Mvc;
@{
    ViewBag.Title = "MyContent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div id="wrapper">
        @RenderPage("NavbarPersonal.cshtml")

        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content" style="margin-top:180px">
                <div class="container-fluid">

                    <div class="row">
                        <td><a href="~/Personal/CreateContent" class="btn btn-primary">Thêm mới</a></td>
                        @if (TempData["AlertMessage"] != null)
                        {
                            <div id="AlertBox" class="alert @TempData["AlertType"] hide">@TempData["AlertMessage"]</div>
                        }
                        <div class="col-lg-12">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Tiêu đề</th>
                                        <th scope="col">Hình ảnh</th>
                                        <th scope="col">Ngày đăng</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr id="row_@item.IDBaiViet">
                                            <td>
                                            </td>
                                            <td>@item.sTieuDe</td>
                                            <td><img src="@item.sImages" style="width:150px" /> </td>
                                            <td>@(item.dNgayTao.HasValue?item.dNgayTao.Value.ToString("dd/MM/yyyy"):"")</td>
                                            <td>
                                                <a href="/Personal/EditContent/@item.IDBaiViet">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                &nbsp &nbsp &nbsp

                                                @Ajax.ActionLink(" ", "DeleteContent", new { id = item.IDBaiViet }, new AjaxOptions
                                           {
                                               Confirm = "Bạn muốn xóa ?",
                                               OnComplete = "$('#row_" + @item.IDBaiViet + "').remove()",
                                               HttpMethod = "Delete"
                                           }, new { @class = "fas fa-trash-alt" })

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchUser = @ViewBag.SearchUserString }))


                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>