@model PagedList.IPagedList<Model.EF.tbl_Notification>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Thông báo";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
    Danh sách hóa đơn
}
@section scripts {
    <script>
        function EditNotification(id)
           {
               $.get("@Url.Action("Edit","Notification")/"+id,
               function(data) {$('.modal-body').html(data);})
                $("#myModal").modal("show");
           }
        $('#myModal').on('hidden.bs.modal', function (e) {
            $('.modal-body').html("");
        });
    </script>

    <script>
        function NotificationDetails(id)
           {
               $.get("@Url.Action("NotificationDetails", "Notification")/"+id,
               function(data) {$('.modal-body').html(data);})
                $("#myModal").modal("show");
           }
        $('#myModal').on('hidden.bs.modal', function (e) {
            $('.modal-body').html("");

        });
    </script>
    <script>
        function AddNotification()
           {
               $.get("@Url.Action("Create", "Notification")",
               function(data) {$('.modal-body').html(data);})
                $("#myModal").modal("show");
           }
        $('#myModal').on('hidden.bs.modal', function (e) {
            $('.modal-body').html("");

        });
    </script>
}
@using (Html.BeginForm("Index", "Notification", FormMethod.Get))
{
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td><input type="text" class="form-control bg-light  small" name="SearchNotification" value="@ViewBag.SearchNotification" /></td>
                    <td><button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button></td>
                    <td><a onclick="AddNotification()" class="btn btn-primary">Thêm mới</a></td>
                </tr>
            </table>

        </div>
    </div>
    <br />
}

<div class="row">
    <div class="col-lg-12">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tiêu đề</th>
                    <th scope="col">Hình ảnh</th>
                    <th scope="col">Ngày thông báo</th>
                    <th scope="col">Thao tác</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="row_@item.ID">
                        <td>
                        </td>
                        <td>@item.sTittle</td>
                        <td><img src="@item.sHinhAnh" style="width:150px" /> </td>
                        <td>@(item.dNgayTB.HasValue?item.dNgayTB.Value.ToString("dd/MM/yyyy"):"-")</td>
                        <td>
                            <a id="@item.ID" onclick="EditNotification(this.id)">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a id="@item.ID" onclick="NotificationDetails(this.id)">
                                <i class="fas fa-info-circle"></i>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @SearchNotification = @ViewBag.SearchNotification }))


    </div>
</div>

<div class="modal fade " id="myModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body print-container">
            </div>
            <div class="modal-footer">


            </div>
        </div>

    </div>
</div>