@model List<MyHandsDoAnTotNghiep.Models.GioHangItems>
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section jsFooter{
    <script src="~/Assets/Client/js/controller/giohangjs.js"></script>
}
<div style="height:50px"></div>
<div class="container single_product_container">
    @if (Model.Count > 0)
    {
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Đơn hàng</span>
                    <span class="badge badge-secondary badge-pill">@Model.Count</span>
                </h4>
                <ul class="list-group mb-3">
                    @foreach (var item in Model)
                    {
                        var url = "/chi-tiet/" + item.SanPham.sTenSanPhamMeta + "-" + item.SanPham.ID;
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0"><a href="@url">@item.SanPham.sTenSanPham</a></h6>
                            </div>
                            <span class="text-muted">@((item.SanPham.dGiaKhuyenMai.HasValue ? (item.SanPham.dGiaKhuyenMai * item.SoLuong).Value.ToString("N0") : (item.SanPham.dGiaBan * item.SoLuong).Value.ToString("N0")))</span>
                        </li>

                    }

                    <li class="list-group-item d-flex justify-content-between">
                        <span>Tổng tiền (VND)</span>
                        <strong>@ViewBag.TotalAmount đ</strong>
                    </li>

                </ul>
                    
            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Thông tin giao hàng</h4>
                @using (Html.BeginForm("Payment", "GioHangItem", FormMethod.Post))
                {
            <div class="mb-3">
                <label for="sTenNguoiNhan">Tên người nhận</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                    </div>
                    <input type="text" class="form-control" name="sTenNguoiNhan"id="sTenNguoiNhan" placeholder="Tên người nhận" required>
                    <div class="invalid-feedback" style="width: 100%;">
                        Hãy nhập họ tên người nhận
                    </div>
                </div>
                <br />
                <label for="sEmail">Email (tùy chọn)</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                    </div>
                    <input type="text" class="form-control" name ="sEmail" id="sEmail" placeholder="Địa chỉ email">
                </div>
                <br />
                <label for="sSoDienThoai">Số điện thoại</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                    </div>
                    <input type="text" class="form-control" name="sSoDienThoai" id="sSoDienThoai" placeholder="Số điện thoại" required>
                    <div class="invalid-feedback" style="width: 100%;">
                        Hãy nhập số điện thoại
                    </div>
                </div>
                <label for="sDiaChi">Địa chỉ</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                    </div>
                    <input type="text" class="form-control" name="sDiaChi" id="sDiaChi" placeholder="Địa chỉ" required>
                    <div class="invalid-feedback" style="width: 100%;">
                        Hãy nhập địa chỉ
                    </div>
                </div>
            </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Tiếp tục</button>
                    <p>(Xin vui lòng kiểm tra lại đơn hàng trước khi Đặt Mua)</p>
                }


            </div>
        </div>
    }
    else
    {
        <span class="alert alert-danger">Chưa có sản phẩm nào trong giỏ hàng</span>
    }
</div>